/* ------- General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* --- Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  display: flex;
  align-items: center;
  width: 200%;
}

/* ------- Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 5px 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 52px;
  color: #fff;
}

header nav ul {
  display: flex;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* ------- Search Form ------- */

form {
  border: 2px solid #ff385c;
  display: flex;
  justify-content: space-between;
}

form .group {
  justify-content: space-between;
  width: 100%;
}

form .item {
  display: flex;
  justify-content: space-between;
}

form label {
  font-weight: bold;
}

form select,
form input {
  width: 200px;
  background-color: #fff;
}

form select {
  width: 208.5px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* ------- Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* ------- Media Query (Desktop) ------- */

/* Media query for desktop screens with a minimum width of 480px */

@media all and (min-width: 480px) {
  /* Adjusted styles for the header in desktop view */
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
    width: 100%;
  }

  /* Adjusted font size for the logo in desktop view */
  header .logo {
    font-size: 3rem;
  }

  /* Adjusted styles for the navigation menu in desktop view */
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
  }

  /* Adjusted padding for sections in desktop view */
  section {
    padding-right: 40px;
    margin-right: auto;
    padding: 20px;
    width: 100%;
  }

  /* Adjusted styles for the form in desktop view */
  form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-left: 5px;
  }

  /* Adjusted width for form select and input elements in desktop view */
  form select,
  form input {
    width: 100%;
  }

  /* Adjusted styles for form buttons in desktop view */
  form button {
    font-size: 15px;
    padding: 10px 10px;
    width: 100%;
  }

  /* Adjusted styles for groups in desktop view */
  .group {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  /* Adjusted width for form items in desktop view */
  form .item {
    width: 20%;
  }

  /* Adjusted styles for items in desktop view */
  .item {
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
  }

  /* Adjusted styles for double-width items in desktop view */
  .item-double {
    flex: 2;
  }

  /* Adjusted styles for the footer in desktop view */
  footer {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    width: 100%;
  }
}

/* ------- Media Query ------- */
@media all and (max-width: 479px) {
  /* Adjusted styles for the about section in mobile view */
  #about .group {
    flex-direction: column;
    align-items: center;
  }

  .item-double {
    width: 100%;
  }
}